<div class="home">
	<h1>Welcome!</h1>
</div>

    <div class="navbar navbar-app navbar-absolute-bottom">
        <div class="btn-group pull-left">
          <div class="btn btn-navbar">
	        	<a href="#transactions/new" type="button" class="btn primary btn-default btn-lg" >Send Money</a>
          </div>
        </div>

        <div class="btn-group pull-right">
          <div class="btn btn-navbar">
        	<a href="#transactions" type="button" class="btn primary btn-default btn-lg" >History</a>
          </div>
        </div>
    </div>